## 快乐数

In [7]:
def isHappy(n):
    relist=[]## 如果出现重复则表示进入死循环，返回false
    if len(str(n))==1 and n!=1:
        return False  
    while n!=1:
        sumnum=0
        for s in str(n):
            sumnum+=int(s)**2 
        print(sumnum)
        if sumnum not in relist:
            relist.append(sumnum)
        else:
            return False
        n=sumnum
    return True

In [10]:
isHappy(7)

False

## 阶乘后的0

In [21]:
def trailingZeroes(n):
    re=1
    for i in range(2,n+1):
        re=re*i
    #print(re)
    zsum=0
    strre=str(re)
    n=len(strre)-1
    while n>=0 and strre[n] =='0':
        zsum+=1
        n=n-1
    return zsum

In [23]:
def trailingZeroes_1(n):
    res=0
    while n>=5:
        n//=5
        res+=n
    return res

In [24]:
trailingZeroes(7)

1

In [25]:
ord('A')

65

## excel 表列序号

In [36]:
def titleToNumber(columnTitle):
    base=64
    re=0
    n=len(columnTitle)-1
    for s in columnTitle:
        now=(ord(s)-base)*26**n
        n=n-1
        re+=now
    return re

In [41]:
titleToNumber('AAA')

703

## pow(x,y)

In [48]:
def myPow( x, n):
    if n<0:
        x=1/x
        n=abs(n)
    res=1.0
    while n>0:
        if n%2!=0:
            res*=x
        x=x*x
        n=n//2
    return res

In [51]:
myPow(2,9)

512.0

## x的平方根

In [64]:
def mySqrt(x):
    if x==1 or x==0:
        return x
    for i in range(x):
        if x>=i*i and x< (i+1)*(i+1):
            return i

In [78]:
def mySqrt_binary(x):
    if x==0:
        return x
    left,right=0,x
    while left<=right:
        #print(1)
        mid=(left+right)>>1
        if mid*mid==x:
            return mid
        elif mid *mid <x:
            if (mid+1)*(mid+1)>x:
                return mid 
            left=mid+1
        else:
            if (mid-1)*(mid-1)<=x:
                return mid-1
            right=mid-1
    return -1

In [79]:
mySqrt(0)